<div align="right">
  <img src="https://drive.google.com/uc?export=view&id=1J8JpP65HsHXdpJvhb_sMwn3yROyU832m" height="80" width="200" style="float: right;">
</div>
<h1><b>Data Science and Machine Learning</b></h1>
<h2><b>Clase 11</b>: SQL</h2>
<h3><b>Docente</b>: <a href="https://www.linkedin.com/in/danielablanco/">Daniela Blanco</a>

# Contenido

- [1. Bases de datos](#bases)
  - [1.1. Bases de datos relacionales](#relacionales)
  - [1.2. Otros tipos de bases](#tipos_bases)
- [2. Modelo relacional](#modelo_relacional)
  - [2.1. Tablas](#tablas)
  - [2.2. Tipos de relaciones](#tipos_relacionales)
- [3. Motores de bases de datos](#motores)
- [4. Lenguaje SQL](#sql)
  - [4.1. Sublenguajes SQL](#sublenguajessql)
  - [4.2. Sentencias DDL](#ddl)
  - [4.3. Sentencias DML](#ddl)
  - [4.4. Sentencia SELECT (o DQL)](#select)
  - [4.5. Sentencias DCL](#dcl)
  - [4.6. Sentencias TCL](#tcl)
- [5. Librerías python](#librerias)
  - [5.1. SQLAlchemy](#sqlalchemy)
  - [5.2. Psycopg2](#psycopg2)
  - [5.3. Mysql (mysql.connector)](#mysql)
  - [5.4. Otras librerías](#otras_librerias)
- [6. Links de interés](#links)

## 1. Bases de datos <a name="bases"></a>

<img src="https://drive.google.com/uc?export=view&id=1VE7jDjHNDh8R1M2k4yxUv1YAtJKsBhFJ" height="120" width="500" style="float: center;">

Una base de datos es una colección organizada de datos.

El uso de bases de datos permite almacenar información,
preservarla en el tiempo, para poder acceder a ella
posteriormente.

Son esenciales para muchas aplicaciones porque permiten almacenar y acceder a grandes cantidades de datos de forma estructurada.

A partir de los datos podremos llevar a cabo procesos de Data Mining, Machine Learning y automatizaciones, pero todo parte de las bases de datos.

### 1.1. Bases de datos relacionales <a name="relacionales"></a>

Utiliza un modelo basado en la lógica de **relaciones** entre datos.

La información se guarda en tablas. Estructura formada por filas y columnas (similar a dataframe de pandas). Las tablas pueden estar relacionadas entre sí.

Utilizan el lenguaje SQL (Structured Query Language) para gestionar y manipular los datos.

Ejemplos bases relacionales: MySQL, PostgreSQL, Oracle, Microsoft SQL Server.

### 1.2. Otros tipos de bases <a name="tipos_bases"></a>

- Bases NoSQL: no usan lenguaje SQL. Por ejemplo Redis (almacena la información como clave-valor).
- Bases orientadas a grafos. Por ejemplo: Neo4j
- Bases documentales: guarda la información en documentos. Por ejemplo: MongoDB (documentos).
- Bases de datos NewSQL: Combina la escalabilidad de las bases de datos NoSQL con las garantías ACID de las bases de datos relacionales. Ejemplo: Google Spanner.
- Bases de Datos de Blockchain: Utilizan una cadena de bloques para asegurar la integridad y transparencia de los datos. Ejemplos: BigchainDB.

## 2. Modelo relacional <a name="modelo_relacional"></a>

El modelo relacional es una manera formal de representar y manipular datos en una base de datos.

Se basa en conceptos matemáticos de conjuntos y lógica de primer orden.

Las bases de datos relacionales implementan el modelo relacional.

### 2.1. Tablas <a name="tablas"></a>

Cada tabla representa una **entidad** específica, y las relaciones entre estas tablas permiten organizar y gestionar los datos de manera eficiente.

Representan entidades del mundo real, como clientes, productos, pedidos, etc.

Cada tabla tiene un nombre único y está compuesta por columnas y filas.

La **fila** (o tupla o registro) representa una instancia única de la entidad descrita por la tabla.

Cada fila contiene datos para una sola entidad.

Las **columnas** (campos o atributos) representan las propiedades o características de la entidad.

Cada columna tiene un nombre y un tipo de dato asociado (por ejemplo, entero, cadena, fecha).

Las tablas además tendrán **claves: primarias** (todas) conocida como PK o **secundaría** llamada FK en los casos que tenga una relación con otra tabla.

### 2.2. Tipos de relaciones <a name="tipos_relacionales"></a>

Las relaciones entre tablas son la característica distintiva de las bases de datos relacionales.

Hay varios tipos de relaciones:

**Uno a Uno (1:1)**:

Cada fila en una tabla se relaciona con una sola fila en otra tabla.

Ejemplo: Si nuestro caso de uso requiere registrar la asignación de vehículos a los empleados de una empresa con la restricción que sólo se asigna uno a la vez. La relación "asignado a", entre las tablas Automóviles y Empleados será 1 a 1.

#### Tabla Automóviles

| Campo |  Tipo | Clave |
|:-------:|:-----------:|:--:|
| Dominio | varchar(6) | PK |
| Marca   | varchar(15) |    |
| Color   | varchar(15) |    |

#### Tabla Empelados

| Campo |  Tipo | Clave |
|:-------:|:-----------:|:--:|
| DNI | int | PK |
| Nombre   | varchar(25) |    |
| Apellido   | varchar(25) |    |
| dominio   | varchar(6) | FK   |

**Uno a Muchos (1:N)**:

Cada fila en una tabla se relaciona con múltiples filas en otra tabla.

Ejemplo: La relación "realiza" entre Clientes y Pedidos. Un cliente puede tener múltiples pedidos en la tabla de pedidos. Un pedido es de un único cliente.

#### Tabla Clientes

| Campo |  Tipo | Clave |
|:-------:|:-----------:|:--:|
| DNI | varchar(8) | PK |
| Nombre   | varchar(25) |    |
| Apellido   | varchar(25) |    |

#### Tabla Pedidos

| Campo |  Tipo | Clave |
|:-------:|:-----------:|:--:|
| id_pedido | int | PK |
| DNI_cliente | int | FK |
| fecha   | date |    |

**Muchos a Muchos (M:N)**:

Múltiples filas en una tabla se relacionan con múltiples filas en otra tabla.

Este tipo de relación se maneja mediante una tabla intermedia.

Ejemplo: Dada las entidades Estudiantes y cursos modelar "asiste a". Un estudiante puede inscribirse en varios cursos y cada curso puede tener muchos estudiantes.

#### Tabla Estudiantes

| Campo |  Tipo | Clave |
|:-------:|:-----------:|:--:|
| id_estudiante | int | PK |
| Nombre   | varchar(25) |    |
| Apellido   | varchar(25) |    |

#### Tabla Cursos

| Campo |  Tipo | Clave |
|:-------:|:-----------:|:--:|
| id_curso | int | PK |
| nombre | varchar |  |

#### Tabla Inscripciones

| Campo |  Tipo | Clave |
|:-------:|:-----------:|:--:|
| id_curso | int | PK FK |
| id_estudiante | int | PK FK |

## 3. Motores de bases de datos <a name="motores"></a>

Se requiere un sistema (software) para manejar y administrar la base de datos
llamado DBMS por sus siglas en inglés: Database Management Systems.

El DBMS actúa como intermediario entre los usuarios finales y la base de datos, proporcionando las herramientas necesarias para almacenar, modificar y extraer datos de manera eficiente y segura.

Este gestor permitirá:
- administrar los datos persistentemente,
- acceder a grandes volúmenes de manera eficiente,
- soporte para algún lenguaje de alto nivel que permita definir, manipular y acceder a los datos.

Dependiendo del tipo de motor o sistema de gestión también permitirá:
- administración de transacciones.
- control de accesos y
- recuperación ante fallas.

Generalmente los gestores de bases cuentan con una interfaz gráfica y también se puede operar con ellos mediante línea de comandos.

Todos "hablan" SQL cada cual con sus pequelas diferencias sintácticas ("modismos").

## 4. Lenguaje SQL <a name="sql"></a>

Para comunicarnos con una base de datos usamos el lenguaje SQL.

No solo nos permite recuperar los datos almacenados sino también generar la base,
sus componentes, manipular los datos y también manejar la seguridad e integridad de los
mismos.

### 4.1. Sublenguajes SQL <a name="sublenguajessql"></a>

<img src="https://drive.google.com/uc?export=view&id=1Crm7BHSfFCgkoattRPNrufJiIFhJr0rm" height="376" width="667" style="float: center;">

### 4.2. Sentencias DDL <a name="ddl"></a>

**1. CREATE**

La sentencia CREATE se utiliza para crear bases de datos, tablas, índices, vistas, y otros objetos en la base de datos.

```
CREATE DATABASE tienda;

CREATE TABLE clientes (
    id_cliente INT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE,
    fecha_registro DATE
);

CREATE INDEX idx_nombre ON clientes (nombre);

CREATE VIEW vista_clientes AS
SELECT id_cliente, nombre, email
FROM clientes;
```

**2. ALTER**

La sentencia ALTER se utiliza para modificar la estructura de una tabla existente.

```
ALTER TABLE clientes ADD COLUMN telefono VARCHAR(15);

ALTER TABLE clientes MODIFY COLUMN telefono VARCHAR(20);

ALTER TABLE clientes CHANGE COLUMN telefono telefono_contacto VARCHAR(20);
```

**3. DROP**

La sentencia DROP se utiliza para eliminar bases de datos, tablas, índices, vistas, y otros objetos de la base de datos.

```
DROP DATABASE tienda;

DROP TABLE clientes;

DROP INDEX idx_nombre ON clientes;
```

**4. TRUNCATE**

La sentencia TRUNCATE se utiliza para eliminar todos los registros de una tabla de forma rápida, sin eliminar la tabla en sí. Es más eficiente que DELETE.

```
TRUNCATE TABLE clientes;
```

### 4.3. Sentencias DML <a name="ddl"></a>

**1. INSERT**

La sentencia INSERT se utiliza para agregar nuevas filas a una tabla.

```
INSERT INTO clientes (nombre, email, fecha_registro)
VALUES ('Juan Pérez', 'juan@example.com', '2024-01-01');

INSERT INTO clientes (nombre, email, fecha_registro)
VALUES
('María López', 'maria@example.com', '2024-01-02'),
('Pedro Martínez', 'pedro@example.com', '2024-01-03');
```

**2. UPDATE**

La sentencia UPDATE se utiliza para modificar los datos existentes en una tabla.

```
UPDATE clientes
SET email = 'juan.perez@example.com'
WHERE nombre = 'Juan Pérez';

UPDATE clientes
SET email = 'maria.lopez@example.com', fecha_registro = '2024-01-05'
WHERE nombre = 'María López';
```

**3. DELETE**

La sentencia DELETE se utiliza para eliminar filas de una tabla.

```
DELETE FROM clientes
WHERE nombre = 'Pedro Martínez';

DELETE FROM clientes;
```

### 4.4. Sentencia SELECT (o DQL) <a name="select"></a>

La sentencia SELECT se utiliza para consultar datos de una o más tablas.

```
SELECT * FROM clientes;

SELECT nombre, email FROM clientes;

# filtrado
SELECT * FROM clientes
WHERE fecha_registro > '2024-01-01';

# ordenamiento
SELECT * FROM clientes
ORDER BY nombre ASC;

# limitando resultados
SELECT * FROM clientes
LIMIT 5;

# funciones de agregación
SELECT COUNT(*) AS TotalClientes
FROM clientes;

# agrupamiento y filtrado por grupos
SELECT fecha_registro, COUNT(*) AS TotalClientes
FROM clientes
GROUP BY fecha_registro
HAVING COUNT(*) > 1;

```

### 4.5. Sentencias DCL <a name="dcl"></a>

**1. GRANT**

La sentencia GRANT se utiliza para otorgar permisos a los usuarios para realizar operaciones específicas en la base de datos.

```
GRANT privilegios ON nombre_base_datos.nombre_tabla TO 'usuario'@'host';


GRANT ALL PRIVILEGES ON tienda.* TO 'juan'@'localhost';

GRANT SELECT, INSERT, UPDATE ON tienda.clientes TO 'maria'@'localhost';

```

**2. REVOKE**

La sentencia REVOKE se utiliza para revocar permisos previamente otorgados a los usuarios.

```
REVOKE privilegios ON nombre_base_datos.nombre_tabla FROM 'usuario'@'host';

REVOKE ALL PRIVILEGES ON tienda.* FROM 'juan'@'localhost';

REVOKE SELECT, INSERT, UPDATE ON tienda.clientes FROM 'maria'@'localhost';

```

### 4.6. Sentencias TCL <a name="tcl"></a>

**1. START TRANSACTION**

La sentencia START TRANSACTION se utiliza para iniciar una nueva transacción explícitamente. Las transacciones permiten agrupar operaciones de bases de datos que deben ejecutarse como una unidad atómica.

```
START TRANSACTION;
UPDATE cuentas SET balance = balance - 100 WHERE id = 1;
UPDATE cuentas SET balance = balance + 100 WHERE id = 2;
COMMIT;
```

**2. COMMIT**

La sentencia COMMIT confirma la transacción actual y hace que todos los cambios realizados durante la transacción se vuelvan permanentes.

```
START TRANSACTION;
UPDATE cuentas SET balance = balance - 100 WHERE id = 1;
UPDATE cuentas SET balance = balance + 100 WHERE id = 2;
COMMIT;
```

**3. ROLLBACK**

La sentencia ROLLBACK revierte la transacción actual y deshace todos los cambios realizados desde el último COMMIT o ROLLBACK. Es útil para deshacer transacciones que no se han confirmado correctamente.

```
START TRANSACTION;
UPDATE cuentas SET balance = balance - 100 WHERE id = 1;
UPDATE cuentas SET balance = balance + 100 WHERE id = 2;
ROLLBACK;
```

**4. SAVEPOINT**

La sentencia SAVEPOINT marca un punto dentro de la lista de transacciones a la que puedes hacer un ROLLBACK (volver atrás) más tarde.

```
START TRANSACTION;
UPDATE cuentas SET balance = balance - 100 WHERE id = 1;
SAVEPOINT sp1;
UPDATE cuentas SET balance = balance + 100 WHERE id = 2;
ROLLBACK TO sp1;
COMMIT;
```

## 5. Librerías python <a name="librerias"></a>

Contamos con diversas librerías en Python para conectar con un motor de bases de datos.

Algunos especificos para un motor y otros genéricos.

### 5.1. SQLAlchemy <a name="sqlalchemy"></a>

SQLAlchemy permite la gestión de bases de datos relacionales a través de un enfoque de mapeo objeto-relacional (ORM).

También permite trabajar con SQL puro a través de su Core SQL Expression Language. Esto significa que puedes escribir y ejecutar consultas SQL directamente utilizando SQLAlchemy.

Soporta varios motores.

**Ejemplo ORM:**
```
# en sql
INSERT INTO user (name, last_name) VALUES ('Bob', 'Ross');

# con formato ORM
user = User()
user.name = "Bob"
user.last_name = "Ross"

# Agrega el user a la base de datos
db.session.add(user)

# Parecido al commit de Git, lo que hace esta función es guardar todos los cambios que hayas hecho
db.session.commit()
```

**Ejemplo SQL:**
```
from sqlalchemy import create_engine, text

# Crear el motor de base de datos
engine = create_engine('sqlite:///:memory:')

# Conectar con el motor
conn = engine.connect()

# Construir una consulta SQL
query = text("SELECT * FROM usuarios WHERE edad > :edad")
result = conn.execute(query, edad=25)

# Obtener los resultados
for row in result:
    print(row)
```

### 5.2. Psycopg2 <a name="psycopg2"></a>

Es el adaptador más popular para PostgreSQL en Python.

In [ ]:
# postgres
import psycopg2

# Datos de conexión a la base de datos
hostname = 'tu_hostname'
username = 'tu_usuario'
password = 'tu_contraseña'
database = 'tu_basedatos'

# Conectar a la base de datos
connection = psycopg2.connect(
  host=hostname,
  user=username,
  password=password,
  database=database
)

# Crear un cursor para ejecutar consultas
cursor = connection.cursor()

# Ejemplo de consulta SELECT
cursor.execute("SELECT * FROM empleados;")
empleados = cursor.fetchall()

# Mostrar resultados
for empleado in empleados:
  print(empleado)

# Ejemplo de inserción de datos
cursor.execute("INSERT INTO empleados (dni, nombre, apellido) VALUES (%s, %s, %s);", ('12345678A', 'Juan', 'Pérez'))
connection.commit()  # Confirmar la transacción

### 5.3. Mysql (mysql.connector) <a name="mysql"></a>

Es una librería específica paraMySQL.

In [ ]:
import mysql.connector

# conexion
conexion = mysql.connector.connect(host='localhost',
                                       database='mi_base',
                                       user='user_dev',
                                       password='clave')

if conexion.is_connected():
    print('Connection established.')
else:
    print('Connection failed.')

# Crear un objeto cursor
cursor = conexion.cursor()

# Ejecutar consulta SQL para crear una nueva base de datos
query = "SELECT nombre, apellido FROM clientes"
cursor.execute(query)

# recorre los resultados
rows = cursor.fetchall()

for row in rows:
    print(row)

cursor.close()
conexion.close()

### 5.4. Otras librerías <a name="otras_librerias"></a>

- sqlite3

  Es un módulo de la biblioteca estándar de Python que proporciona una interfaz para SQLite.

- cx_Oracle

  Para interactuar con bases de datos Oracle desde Python.

- pymssql

  Es una biblioteca para conectarse a bases de datos Microsoft SQL Server.

- pyodbc

  Es una biblioteca que permite a Python usar ODBC para conectarse a cualquier base de datos que tenga un driver ODBC.

  Motores de Base de Datos Soportados: Microsoft SQL Server, PostgreSQL, MySQL, SQLite, Oracle, IBM DB2.

## 6. Links de interés <a name="links"></a>

- [Sqlbolt](https://sqlbolt.com/)
- [Tutorials: Learn SQL step by step](https://sqlzoo.net/wiki/SQL_Tutorial)
- [W3Schools SQL Practice](https://www.w3schools.com/sql/sql_exercises.asp)
- [HackerRank](https://www.hackerrank.com/domains/sql)
- [PostgreSql y Python](https://www.youtube.com/watch?v=miEFm1CyjfM)